<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Results</title>
    <style>
        body {
            font-family: sans-serif;
            padding: 20px;
        }

        .success {
            color: green;
        }

        .fail {
            color: red;
        }
    </style>
</head>

<body>
    <h2>
        <%= viewState.title %>
    </h2>

</body>

</html>